<!DOCTYPE html>
<html>

<head>
    <link href="..\static\app.css" rel="stylesheet">
</head>

<body>

    <h1>
        מתכונים מהעולם
    </h1>

    <ul class="menu">
        <li>
            <a href="myArea.html">איזור אישי</a>
        </li>

        <li>
            <a href="recommendation.html">המלצות</a>
        </li>

        <li>
            <a href="food.html">מאכלים</a>
            <ul id="sub-menu">
                <li>איטלקי</li>
                <li>מקסיקני</li>
                <li>הודי</li>
                <li>מרוקאי</li>
                <li>אסיאתי</li>
            </ul>
        </li>

        <li>
            <a href="home.html">בית</a>
        </li>
    </ul>

    <h2>
        איזור אישי
    </h2>

    <script src="static\app.js"></script>
</body>

</html>